body{
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}

h1{
    color: rgb(33, 55, 61);
    text-align: center;
}

#searchform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div{
    text-align:center;
   
}

.newImage{
    height: 300px;
    width: 300px;

    justify-content:space-evenly;
}
